{%extends 'base.html'%}

{% block title %}About{% endblock title %}
  
{%block body%}
<style>
    body {
      background-color: #CC9900; /* Set background color for the entire page */
    }
  </style>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-6">
        <img src="https://images.unsplash.com/photo-1504380790957-2616a8994f18?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="img-fluid" alt="Image">
      </div>
      <div class="col-md-6">
        <h2 align="center">About Us</h2>
        <p>Amul Ice Cream holds a cherished place in the hearts of dessert enthusiasts across India. Renowned for its rich flavors and creamy textures, it embodies the essence of indulgence and joy. From the classic favorites like chocolate and vanilla to the vibrant bursts of mango and pista, Amul offers a tantalizing array of options to suit every palate. What sets Amul apart is not just its diverse range of flavors but also its unwavering commitment to quality. Each scoop is crafted from the finest ingredients, sourced from Amul's network of dairy farmers, ensuring a delightful taste experience with every bite.Amul Ice Cream brings moments of sweetness to countless households, making it a beloved choice for celebrations, gatherings, or simply a delightful treat on any day.Amul continues to delight consumers with its innovative flavors, consistent quality, and unwavering commitment to spreading joy through the simple pleasure of ice cream.</p>
      </div>
    </div>
  </div>


{%endblock body%}
